@keyframes activitySlideIn {
	0% {
		transform: translateX(20%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.activities {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	--visible-height: 100vh;
	min-height: var(--visible-height);
	overflow: hidden;
}

.controlPanel.active~.activities {
	margin-bottom: var(--control-panel-height);
	/* avoiding bottom-most activity part getting covered by a panel */
	--visible-height: calc(100vh - var(--control-panel-height));
}

.activity {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 100%;
	width: 100%;
	background-color: var(--tg-theme-bg-color);
	z-index: 1;
	transform: translateX(-10%);
	transition-property: opacity, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	height: var(--visible-height);
	overflow-y: auto;
}

.activity.active {
	transform: translateX(0%);
}

.activity.active~.activity {
	/* disposed activities */
	opacity: 0;
	transform: translateX(20%);
	pointer-events: none;
}

.activity.active:last-child:not(.appearInstantly) {
	animation: activitySlideIn 150ms ease-out;
}

.activities.useRootScroll .activity {
	height: auto;
}

/* page activity */

.activity.page.editable>.content>.blocksContainer {
	box-sizing: border-box;
	/* extra space for more comfortable editing */
	padding-bottom: 40vh;
}

.activity.page>.content>.blocksContainer {
	/* making whe whole visible page a valid drop area */
	min-height: var(--visible-height);
}

/* home activity */

.activity.home h1 {
	border-bottom: 0;
	margin-bottom: 0;
}

.activity.home .pageItem {
	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto;
	box-sizing: border-box;
	height: 58px;
	padding: 10px var(--vertical-page-padding);
	overflow: hidden;
	gap: 25px;
	transition: height 300ms ease 100ms, padding 300ms ease 100ms, transform 100ms ease-out, opacity 100ms ease-out, background-color 200ms ease;
	;
}

@media (hover: hover) {
	.activity.home .pageItem {
		cursor: pointer;
	}
}

.activity.home .pageItem.deleted {
	height: 0;
	padding: 0 16px;
	transform: scale(75%);
	opacity: 0;
}

.activity.home .pageItem.selected {
	background-color: var(--highlight-color);
}

.activity.home .pageItem .pageTitle {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 4px;
}

.activity.home .pageItem .pageTitle.unnamed {
	font-style: italic;
}

.activity.home .pageItem .pageTime {
	color: var(--tg-theme-hint-color);
	font-size: .875rem;
}

.activity.home .pageItem .selectHandle {
	box-sizing: border-box;
	display: grid;
	align-items: center;
	justify-items: center;
	align-self: stretch;
	z-index: 1;
	opacity: 0;
	transition: opacity 100ms ease;
}

.activity.home .pageList {
	padding: 0;
	margin: 0;
}

.activity.home .pageList.selectMode .pageItem .selectHandle {
	opacity: 1;
}

@media (hover: hover) {
	.activity.home .pageItem:hover .selectHandle {
		opacity: 1;
	}
}

.activity.home .pageItem.selected .selectHandle .tgCheckbox .visualizer {
	border-color: #3390EC;
	background-color: #3390EC;
}

.activity.home .pageItem.selected .selectHandle .tgCheckbox .visualizer::after {
	opacity: 1;
}

.activity.home .pageItem .rippleJS {
	opacity: .2;
}

/* blockEditor activity */

.activity.blockEditor .settings {
	min-height: var(--visible-height);
}

/* notFound activity */

.activity.notFound {
	height: var(--visible-height);
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.activity.notFound .content {
	width: 90%;
}

/* error activity */

.activity.error {
	height: var(--visible-height);
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.activity.error .content {
	width: 35%;
	text-align: center;
	font-size: 25px;
}