@keyframes activitySlideIn {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.activities {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    --visible-height: 100vh;
    min-height: var(--visible-height);
    overflow: hidden;
}

.controlPanel.active~.activities {
    margin-bottom: var(--control-panel-height);
    /* avoiding bottom-most activity part getting covered by a panel */
    --visible-height: calc(100vh - var(--control-panel-height));
}

.activity {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    z-index: 1;
    transform: translateX(-10%);
    transition-property: opacity, transform;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
}

.activity.active {
    transform: translateX(0%);
}

/* disposed activities */
.activity.active~.activity {
    opacity: 0;
    transform: translateX(20%);
    pointer-events: none;
    user-select: none;
}

.activity.active:last-child:not(.appearInstantly) {
    animation: activitySlideIn 150ms ease-out;
}

/* page activity */

.activity.page>.content>.blocksContainer {
    min-height: var(--visible-height)
}

/* home activity */

.activity.home .pageItem {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    box-sizing: border-box;
    height: 52px;
    padding: 7px 16px;
    overflow: hidden;
    user-select: none;
    gap: 25px;
    transition: height 300ms ease 100ms, padding 300ms ease 100ms, transform 100ms ease-out, opacity 100ms ease-out, background-color 200ms ease;
    ;
}

@media (hover: hover) {
    .activity.home .pageItem {
        cursor: pointer;
    }
}

.activity.home .pageItem.deleted {
    height: 0;
    padding: 0 16px;
    transform: scale(75%);
    opacity: 0;
}

.activity.home .pageItem.selected {
    background-color: var(--highlight-color);
}

.activity.home .pageItem .pageTitle {
    font-size: 16px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
}

.activity.home .pageItem .pageTitle.unnamed {
    font-style: italic;
}

.activity.home .pageItem .pageTime {
    color: var(--tg-theme-hint-color);
    font-size: 14px;
}

.activity.home .pageItem .selectHandle {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: stretch;
    font-size: 16px;
    z-index: 1;
    opacity: 0;
    transition: opacity 100ms ease;
}

.activity.home .pageList.selectMode .pageItem .selectHandle {
    opacity: 1;
}

@media (hover: hover) {
    .activity.home .pageItem:hover .selectHandle {
        opacity: 1;
    }
}

.activity.home .pageItem.selected .selectHandle .tgCheckbox .visualizer {
    border-color: #3390EC;
    background-color: #3390EC;
}

.activity.home .pageItem.selected .selectHandle .tgCheckbox .visualizer::after {
    opacity: 1;
}

.activity.home .pageItem .rippleJS {
    opacity: .3;
}