/* common */

.block.justEdited {
	animation: highlight_ 1.5s ease-in;
}

.block.editable:hover:not(:has(.block.editable:hover)) {
	background-color: var(--highlight-color);
}

/* spoiler */

.block.spoiler.editable .blocksContainer::after {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

.settings.spoiler h2 {
	margin-bottom: 8px;
	padding-bottom: 0;
	border-bottom: 0;
}

/* grid */

.block.grid>.grid {
	display: grid;
	align-items: center;
	margin: var(--vertical-page-padding);
}

.block.grid.preview .blocksContainer::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

.block.grid.editable .blocksContainer::after {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

.block.grid .blocksContainer>.block>* {
	margin: auto;
}

.block.grid .blocksContainer>.block.markdown code {
	padding: 6px;
}

.settings.grid .countSection {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	padding: 0 var(--vertical-page-padding);
}

.settings.grid input {
	text-align: center;
}

/* markdown */

.block.markdown img {
	max-width: 100%;
}

.settings.markdown h2 {
	margin-bottom: 8px;
	padding-bottom: 0;
	border-bottom: 0;
}

.settings.markdown textarea {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .08) inset;
}

/* image */

.block.image>img {
	margin: var(--vertical-page-padding);
	width: calc(100% - var(--vertical-page-padding) * 2);
}

.settings.image .fileInput {
	display: none;
}

.settings.lottie .preview {
	padding: var(--vertical-page-padding);
}

.settings.image img.preview {
	margin: var(--vertical-page-padding);
	max-width: calc(100% - var(--vertical-page-padding) * 2);
}

/* lottie */

.block.lottie>.animation {
	margin: var(--vertical-page-padding);
	width: calc(100% - var(--vertical-page-padding) * 2);
}

.settings.lottie .fileInput {
	display: none;
}

.settings.lottie .preview {
	padding: var(--vertical-page-padding);
	margin-bottom: 12px;
}