/* common */

.block.justEdited {
	animation: highlight_ 1.5s ease-in;
}

.page.editable .block:hover:not(:has(.block:hover)) {
	background-color: var(--highlight-color);
}

.block.preview .blocksContainer::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

/* spoiler */

.settings.spoiler h2 {
	margin-bottom: 8px;
	padding-bottom: 0;
	border-bottom: 0;
}

/* grid */

.block.grid>.grid {
	display: grid;
	align-items: center;
}

.block.grid .blocksContainer:empty::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

.page.editable .block.grid .blocksContainer::after {
	content: "";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 10px);
	border: 2px dashed var(--tg-theme-text-color);
	margin: 5px;
	min-height: 100px;
	opacity: .2;
}

/* markdown */

.settings.markdown h2 {
	margin-bottom: 8px;
	padding-bottom: 0;
	border-bottom: 0;
}

.settings.markdown textarea {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .08) inset;
}