@import "./reset.css";
@import "./telegram.css";
@import "./control-panel.css";
@import "./activities.css";
@import "./blocks.css";

/* common styles */

:root {
	font-size: 16px;
	--global-margin: 10px;
}

body {
	overflow-y: auto;
}

#app {
	position: relative;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25;
	margin: var(--global-margin);
	margin-top: 24px;
	margin-bottom: 16px;
}

:where(h1, h2, h3, h4, h5, h6):first-child{
	margin-top: 8px;
}

h1 {
	padding-bottom: .3em;
	border-bottom: 1px solid var(--tg-theme-hint-color);
	font-size: 2em;
}

h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid var(--tg-theme-hint-color);
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .875em;
}

h6 {
	font-size: .85em;
	color: var(--tg-theme-hint-color);
}

a {
	color: var(--tg-theme-link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p,
pre,
ol,
ul,
table,
hr,
blockquote {
	margin: var(--global-margin);
}

img {
	width: 100%;
}

hr {
	margin-top: 24px;
	margin-bottom: 24px;
	border: 0;
	width: auto;
	height: 4px;
	background-color: var(--tg-theme-hint-color);
	opacity: .3;
}

blockquote {
	position: relative;
	padding: 0 16px;
	color: var(--tg-theme-hint-color);
}

blockquote::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	background-color: var(--tg-theme-hint-color);
	opacity: .3;
}

blockquote>* {
	margin: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	font-weight: bold;
}

table th,
table td {
	padding: 6px 13px;
	border: 1px solid var(--tg-theme-hint-color);
}

pre,
code {
	color: var(--tg-theme-button-color);
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol,
ul {
	padding-left: 2em;
}

ul :where(ol, ul),
ol :where(ol, ul) {
	margin: 5px 0;
}

ul.taskList {
	padding-left: 0;
}

ul.taskList>li {
	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-items: center;
	gap: 5px;
}