@import "./reset.css";
@import "./telegram.css";
@import "./control-panel.css";
@import "./activities.css";
@import "./blocks.css";

/* common styles */

:root {
	font-size: 16px;
	--global-margin: 10px;
}

body {
	overflow-y: auto;
	height: 50vh;
	line-height: 1.25;
}

#app {
	position: relative;
	user-select: none;
}
