/* styling, aesthetics, look and feel of the Telegram */

:root {
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
	font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 400;
	--danger-color: #df3f40;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button:not(.noTgStyle) {
	position: relative;
	width: 100%;
	border: 0;
	padding: 0;
	font-weight: 500;
	border-radius: 10px;
	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	text-transform: uppercase;
	outline: none;
	height: 40px;
}

button.danger:not(.noTgStyle) {
	background-color: var(--danger-color);
	color: white;
}

@media (hover: hover) {
	button:not(.noTgStyle) {
		cursor: pointer;
	}
}

.tgCheckbox {
	display: inline-block;
}

@media (hover: hover) {
	.tgCheckbox:not(.disabled) {
		cursor: pointer;
	}
}

.tgCheckbox input {
	display: none;
}

.tgCheckbox .visualizer {
	display: block;
	border: 2px solid var(--tg-theme-text-color);
	border-radius: .25rem;
	background-color: var(--color-background);
	width: 1.125rem;
	height: 1.125rem;
	transition-property: border-color, background-color;
	transition-duration: 100ms;
	transition-timing-function: ease;
}

.tgCheckbox .visualizer::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
	background-size: .875rem;
	opacity: 0;
	transition: opacity 100ms ease;
}

.tgCheckbox input:checked~.visualizer {
	border-color: #3390EC;
	background-color: #3390EC;
}

.tgCheckbox input:checked~.visualizer::after {
	opacity: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25;
	margin: var(--vertical-page-padding);
	margin-top: 24px;
	margin-bottom: 16px;
}

h1 {
	padding-bottom: .3em;
	border-bottom: 1px solid var(--tg-theme-hint-color);
	font-size: 2em;
}

h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid var(--tg-theme-hint-color);
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .875em;
}

h6 {
	font-size: .85em;
	color: var(--tg-theme-hint-color);
}

:where(h1, h2, h3, h4, h5, h6):first-child {
	/* prevent margin "bleeding" through the parent element */
	margin-top: 0;
	padding-top: 8px;
}

a {
	color: var(--tg-theme-link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p,
ol,
ul,
table,
hr,
blockquote {
	margin: var(--vertical-page-padding);
}

hr,
.hintAddin {
	border: 0;
	width: auto;
	margin: 0;
	background-color: var(--tg-theme-secondary-bg-color);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .08) inset;
}

hr {
	height: 12px;
}

.hintAddin {
	padding: 8px var(--vertical-page-padding);
	color: var(--tg-theme-hint-color);
	font-size: .85rem;
}

blockquote {
	position: relative;
	padding: 0 16px;
	color: var(--tg-theme-hint-color);
}

blockquote::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	background-color: var(--tg-theme-hint-color);
	opacity: .3;
}

blockquote>* {
	margin: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	font-weight: bold;
}

table th,
table td {
	padding: 6px 13px;
	border: 1px solid var(--tg-theme-hint-color);
}

pre,
code {
	color: var(--tg-theme-button-color);
}

pre code.hljs {
	padding: var(--vertical-page-padding);
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol,
ul {
	padding-left: 2em;
}

ul :where(ol, ul),
ol :where(ol, ul) {
	margin: 5px 0;
}

ol>li,
ul>li {
	margin: .3em 0;
}

ul.taskList>li {
	list-style: none;
}

ul.taskList>li>label.tgCheckbox {
	vertical-align: middle;
	margin-left: -1.5em;
	margin-right: .3em;
}

input,
textarea {
	box-sizing: border-box;
	position: relative;
	width: calc(100% - var(--vertical-page-padding) * 2);
	border: 0;
	border-bottom: 2px solid var(--tg-theme-secondary-bg-color);
	margin: 10px var(--vertical-page-padding);
	padding: 6px 0;
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
	font: inherit;
	resize: none;
	outline: none;
	display: block;
	transition: border-bottom-color 150ms ease-out;
}

input:focus,
textarea:focus {
	border-bottom-color: var(--tg-theme-button-color);
}

::placeholder {
	color: var(--tg-theme-hint-color);
	opacity: 1;
}

::-ms-input-placeholder {
	color: var(--tg-theme-hint-color);
}

label.checkboxSection {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--vertical-page-padding);
	padding: 15px var(--vertical-page-padding);
	align-items: center;
}

@media (hover: hover) {
	label.checkboxSection {
		cursor: pointer;
	}
}


.spoiler {
	overflow: hidden;
}

.spoiler>.summary {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: .25em;
	padding: var(--vertical-page-padding);
	font-weight: 600;
	font-size: 1em;
	border-bottom: 1px dashed var(--tg-theme-hint-color);
}

.spoiler>.summary>.icon {
	width: 1.25em;
	height: 1.25em;
	transition: transform 100ms ease;
}

.spoiler[data-open="true"]>.summary>.icon {
	transform: rotate(90deg);
}

@keyframes spoilerBodyShow {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.spoiler>.body {
	height: 0;
	overflow: hidden;
}

.spoiler[data-open="true"]>.body {
	height: auto;
	animation: spoilerBodyShow 250ms ease;
}