@keyframes pageSlideIn {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.pages {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    --page-height: 100vh;
    height: var(--page-height);
    overflow: hidden;
}

.controlPanel.active~.pages {
    /* avoiding bottom-most page part getting covered by a panel */
    --page-height: calc(100vh - var(--control-panel-height));
}

.pages>.page {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    transition-property: opacity, transform;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

/* disposed pages */
.pages>.page.active~.page {
    opacity: 0;
    transform: translateX(10%);
    pointer-events: none;
    user-select: none;
}

.pages>.page.active:last-child:not(.appearInstantly) {
    animation: pageSlideIn 100ms;
}

.pages>.page.constructor>.content>.blocksContainer {
    min-height: var(--page-height)
}

/* home page */

.page.home .pageItem {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    padding: 7px 16px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    gap: 25px;
}

.page.home .pageItem .background {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.page.home .pageItem:hover .background {
    background-color: var(--tg-theme-text-color);
    opacity: .075;
}

.page.home .pageItem.selected .background {
    background-color: var(--tg-theme-text-color);
    opacity: .1;
}

.page.home .pageItem .pageTitle {
    font-size: 16px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
}

.page.home .pageItem .pageTitle.unnamed {
    font-style: italic;
}

.page.home .pageItem .pageTime {
    color: var(--tg-theme-hint-color);
    font-size: 14px;
}

.page.home .pageItem .selectHandle {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: stretch;
    font-size: 16px;
    z-index: 1;
    opacity: 0;
    transition: opacity 100ms ease;
}

.page.home .pageList.selectMode .pageItem .selectHandle,
.page.home .pageItem:hover .selectHandle {
    opacity: 1
}

.page.home .pageItem.selected .selectHandle .checkbox {
    border-color: #3390EC;
    background-color: #3390EC;
}

.page.home .pageItem.selected .selectHandle .checkbox::after {
    opacity: 1;
}

.page.home .pageItem .rippleJS {
    opacity: .3;
}